[Desktop Entry]
Name=Install Terminal+
Comment=Install Terminal+ for this user
Exec=/usr/bin/python3 -c "import os,subprocess,sys; subprocess.call(['/bin/bash', os.path.join(os.path.dirname(sys.argv[1]), 'Install-TerminalPlus.run')])" %k
Icon=system-software-install
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
